{:paths
 ["src" "resources"]

 :deps
 {com.clickhouse/clickhouse-jdbc$http
  {:mvn/version "0.6.0-patch4"
   :exclusions [com.clickhouse/clickhouse-cli-client$shaded
                com.clickhouse/clickhouse-grpc-client$shaded]}
  com.widdindustries/cljc.java-time {:mvn/version "0.1.21"}}}
