version: '3.8'
services:
  clickhouse:
    image: 'clickhouse/clickhouse-server:24.1-alpine'
    container_name: 'metabase-driver-clickhouse-server'
    ports:
      - '8123:8123'
      - '9000:9000'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - './.docker/clickhouse/single_node/config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/clickhouse/single_node/users.xml:/etc/clickhouse-server/users.xml'

  # For testing pre-23.8 string functions switch between UTF8 and non-UTF8 versions (see clickhouse_qp.clj)
  clickhouse_older_version:
    image: 'clickhouse/clickhouse-server:23.3-alpine'
    container_name: 'metabase-driver-clickhouse-server-older-version'
    ports:
      - '8124:8123'
      - '9001:9000'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - './.docker/clickhouse/single_node/config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/clickhouse/single_node/users.xml:/etc/clickhouse-server/users.xml'

  clickhouse_tls:
    build:
      context: ./
      dockerfile: .docker/clickhouse/single_node_tls/Dockerfile
    container_name: 'metabase-driver-clickhouse-server-tls'
    ports:
      - '8443:8443'
      - '9440:9440'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - './.docker/clickhouse/single_node_tls/config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/clickhouse/single_node_tls/users.xml:/etc/clickhouse-server/users.xml'
    hostname: server.clickhouseconnect.test

  metabase:
    image: metabase/metabase:v0.49.3
    container_name: metabase-with-clickhouse-driver
    environment:
      'MB_HTTP_TIMEOUT': '5000'
      'JAVA_TIMEZONE': 'UTC'
    ports:
      - '3000:3000'
    volumes:
      - '../../../resources/modules/clickhouse.metabase-driver.jar:/plugins/clickhouse.jar'
      - './.docker/clickhouse/single_node_tls/certificates/ca.crt:/certs/ca.crt'
  postgres:
    image: postgres
    # shm_size: 128mb
    environment:
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
