name: Check

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Metabase Repo
        uses: actions/checkout@v2
        with:
          repository: metabase/metabase
          ref: v0.48.1

      - name: Checkout Driver Repo
        uses: actions/checkout@v2
        with:
          path: modules/drivers/clickhouse

      - name: Prepare JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Add ClickHouse TLS instance to /etc/hosts
        run: |
          sudo echo "127.0.0.1 server.clickhouseconnect.test" | sudo tee -a /etc/hosts

      - name: Start ClickHouse in Docker
        uses: isbang/compose-action@v1.4.1
        with:
          compose-file: "modules/drivers/clickhouse/docker-compose.yml"
          down-flags: "--volumes"
          services: |
            clickhouse
            clickhouse_older_version
            clickhouse_tls

      - name: Install Clojure CLI
        run: |
          curl -O https://download.clojure.org/install/linux-install-1.11.1.1182.sh &&
          sudo bash ./linux-install-1.11.1.1182.sh

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "yarn"

      - name: Get M2 cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2
            ~/.gitlibs
          key: ${{ runner.os }}-clickhouse-${{ hashFiles('**/deps.edn') }}

      - name: Prepare stuff for pulses
        run: yarn build-static-viz

      # Use custom deps.edn containing "user/clickhouse" alias to include driver sources
      - name: Prepare deps.edn
        run: |
          mkdir -p /home/runner/.config/clojure
          cat modules/drivers/clickhouse/.github/deps.edn | sed -e "s|PWD|$PWD|g" > /home/runner/.config/clojure/deps.edn

      - name: Run ClickHouse driver tests with 23.3
        env:
          DRIVERS: clickhouse
          MB_CLICKHOUSE_TEST_PORT: 8124
        run: |
          clojure -X:dev:drivers:drivers-dev:test:user/clickhouse :only metabase.driver.clickhouse-test

      - name: Run all tests with the latest ClickHouse version
        env:
          DRIVERS: clickhouse
        run: |
          clojure -X:dev:drivers:drivers-dev:test:user/clickhouse

      - name: Build ClickHouse driver
        run: |
          echo "{:deps {metabase/clickhouse {:local/root \"clickhouse\" }}}" > modules/drivers/deps.edn
          bin/build-driver.sh clickhouse
          ls -lah resources/modules

      - name: Archive driver JAR
        uses: actions/upload-artifact@v2
        with:
          name: clickhouse.metabase-driver.jar
          path: resources/modules/clickhouse.metabase-driver.jar

      - name: Report test results
        uses: mikepenz/action-junit-report@v2.8.1
        if: always()
        with:
          report_paths: "**/target/junit/*.xml"
          github_token: ${{ secrets.GITHUB_TOKEN }}
