name: Check

on: [pull_request, push]

jobs:
  check:

    runs-on: ubuntu-latest

    services:
      clickhouse:
        image: yandex/clickhouse-server:latest
        env:
          TZ: "/usr/share/zoneinfo/UTC"

    steps:
      - name: Prepare JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Checkout Metabase Repo
        uses: actions/checkout@v2
        with:
          repository: enqueue/metabase
          ref: clickhouse_driver_testing
      - name: Checkout Driver Repo
        uses: actions/checkout@v2
        with:
          path: modules/drivers/clickhouse
      - name: Cache Dependencies
        uses: actions/cache@v2
        env:
          cache-name: cache-metabase-deps
        with:
          path: ~/.m2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/project.clj', '**/package.json', '**/pom.xml') }}
      - name: Install Clojure CLI
        run: |
          curl -O https://download.clojure.org/install/linux-install-1.10.1.708.sh &&
          sudo bash ./linux-install-1.10.1.708.sh
      - name: Build ClickHouse driver
        run: |
          bin/build-driver.sh clickhouse
      - name: Archive driver JAR
        uses: actions/upload-artifact@v2
        with:
          name: Driver JAR
          path: modules/drivers/clickhouse/target/uberjar/clickhouse.metabase-driver.jar